<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>Image Scout</title>
        <link rel="icon" type="image/x-icon" href="/static/img/icon.png" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">    </head>
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="{% url 'index' %}">Image Scout</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                {% if user.is_authenticated %}
                    <div class="collapse navbar-collapse" id="navContent">
                        <ul class="navbar-nav " style="justify-content: flex-start; width: 15%">
                            <li class="nav-item" ><a class="nav-link">hello {{user.username }}!</a></li>
                        </ul>
                        <ul class="navbar-nav" style="justify-content: flex-end; width: 85%">
                            <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Log Out</a></li>
                        </ul>
                    </div>
                {% endif %}
            </div>
        </nav>
        <!-- Page header with logo and tagline-->
        <div class="container" style="min-height:800px; margin-top: 2%; margin-bottom: 1%; position: relative">
               {% if messages %}
                  <div class="container" style="padding-left: 0px; padding-right: 0px; margin-top: 1rem; text-align: center; vertical-align: middle">
                      {% for message in messages%}
                          <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                      {% endfor %}
                  </div>
              {% endif %}
              <div class="container" style="padding-left: 0px; padding-right: 0px">
                   <div aria-label="breadcrumb">
                        <ol class="breadcrumb">
                          <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                          <li class="breadcrumb-item active" aria-current="page">Database Addition</li>
                        </ol>
                  </div>
              </div>

              <div class="container border rounded" style="min-height: 10%;  margin-top: 1%; display: flex; align-items: center; padding-bottom: 1%; padding-top: 1%">
                  <form method="post" enctype="multipart/form-data" style="width: 100%; align-items: center">
                  {% csrf_token %}
                      <input type="file" name="uploaded_file" accept="application/pdf" style="margin-left: 1px; font-size: larger">
                      <input class="btn btn-primary" type="submit" value="Submit" style="float: right; margin-right: 1px">
                  </form>
              </div>
              <div class="container border rounded justify-content-center " style="min-height: 600px; background-color: white; margin-top: 1%; padding-bottom: 2rem" >

                    {% if output_urls %}
                        <div class="row" style="justify-content: space-evenly; text-align: center; margin-top: 1rem">
                            <div class="col-4">
                                <h3>Images added to database</h3>
                            </div>
                        </div>
                        {% for url in output_urls %}
                            <div style="margin-top: 3rem">
                                <br>
                                <div class="row" style="justify-content: space-evenly; text-align: center">
                                    <div class="col-4">
                                        <img src="{{ url }}" alt="" style="width:100%; max-width: 500px">
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
              </div>
        </div>
        <div class="container" style="margin-bottom: 1%; text-align: center">
             <span class="text-muted">Piotr Dziula, Cracow, 2023</span>
        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>